body{
    font-family: Raleway;
    width: 100%;
    background-color: #b1d6a4;
    color: white;
}
a{
    color:  #b1d6a4 !important;
}
a:hover{
    color:  #a4ea18 !important;
}
a:link{
    text-decoration: none;
}
.info{
    padding-top: 50px;
}
.black{
    background-color: black;
}
#about{
    font-family: 'Open Sans', sans-serif;
}
#education{
    background-color: darkgrey;
    font-family: 'Ubuntu', sans-serif;
}
i{
    padding: 5px;
}
.jumbotron{
    background-color: #4e4f51;
    font-family: 'Ubuntu', sans-serif !important;
}
